

# #######################################
# Database
# #######################################

POSTGRES_HOST=db
POSTGRES_DB=tiler_osm_production
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_PORT=5432

# #######################################
# imposm3
# #######################################

TILER_IMPORT_FROM=osm
TILER_IMPORT_PBF_URL=https://s3.amazonaws.com/planet.openhistoricalmap.org/planet/planet-250224_0001.osm.pbf
REPLICATION_URL=http://s3.amazonaws.com/planet.openhistoricalmap.org/replication/minute/
SEQUENCE_NUMBER=1690000
OVERWRITE_STATE=false
UPLOAD_EXPIRED_FILES=true
IMPORT_NATURAL_EARTH=true
IMPORT_OSM_LAND=true
IMPOSM3_IMPORT_LAYERS=all
CLOUDPROVIDER=aws
AWS_S3_BUCKET=s3://planet-staging.openhistoricalmap.org
AWS_ACCESS_KEY_ID=xxxx
AWS_SECRET_ACCESS_KEY=yyyyy
REFRESH_MVIEWS=false

# #######################################
# tiler server
# #######################################

TILER_SERVER_PORT=9090
TILER_CACHE_BASEPATH=/mnt/data
TILER_CACHE_MAX_ZOOM=20
EXECUTE_VACUUM_ANALYZE=false
EXECUTE_REINDEX=false
TILER_CACHE_CLOUD_INFRASTRUCTURE=hetzner
TILER_CACHE_TYPE=s3
TILER_CACHE_BUCKET=tiler-cache-bucket
TILER_CACHE_REGION=hel1
TILER_CACHE_AWS_ACCESS_KEY_ID=hetzner_credentials
TILER_CACHE_AWS_SECRET_ACCESS_KEY=hetzner_credentials
TILER_CACHE_AWS_ENDPOINT=https://hel1.your-objectstorage.com

# #######################################
# tiler cache (Varnish BAN invalidator)
# #######################################
AWS_REGION_NAME=us-east-1
AWS_ACCESS_KEY_ID=xxxx
AWS_SECRET_ACCESS_KEY=yyyyy
SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/1234567890/tiler-imposm3
ENVIRONMENT=production
ZOOM_LEVELS_TO_DELETE=8,9,10,11,12,13,14,15,16,17,18,19,20
ENABLE_DELAYED_CLEANUP=true
VARNISH_URL=http://tiler_varnish:6081

# #######################################
# Varnish storage sizes (malloc)
# #######################################
VARNISH_DYNAMIC_SIZE=16G
VARNISH_STATIC_SIZE=4G
