[[providers.layers]]
name = "admin_lines_z0_5"
geometry_fieldname = "geometry"
geometry_type = "linestring"
id_fieldname = "osm_id"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    admin_level,
    name, 
    type, 
    maritime, 
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    short_name,
    official_name,
    {{LENGUAGES}}
FROM 
    mv_admin_maritime_lines_z0_5_v2
WHERE 
    geometry && !BBOX!
"""

[[providers.layers]]
name = "admin_lines_z6_9"
geometry_fieldname = "geometry"
geometry_type = "linestring"
id_fieldname = "osm_id"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    admin_level, 
    name, 
    type, 
    maritime, 
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,

    {{LENGUAGES}}
FROM 
    mv_admin_maritime_lines_z6_9 
WHERE 
    geometry && !BBOX!
"""

[[providers.layers]]
name = "admin_lines_z10_15"
geometry_fieldname = "geometry"
geometry_type = "linestring"
id_fieldname = "osm_id"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    admin_level, 
    name, 
    type, 
    maritime, 
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,

    {{LENGUAGES}}
FROM 
    mv_admin_maritime_lines_z10_15
WHERE 
    geometry && !BBOX!
"""
#######Maps
[[maps.layers]]
name = "land_ohm_maritime"
provider_layer = "ohm.admin_lines_z0_5"
min_zoom = 0
max_zoom = 5

[[maps.layers]]
name = "land_ohm_maritime"
provider_layer = "ohm.admin_lines_z6_9"
min_zoom = 6
max_zoom = 9

[[maps.layers]]
name = "land_ohm_maritime"
provider_layer = "ohm.admin_lines_z10_15"
min_zoom = 10
max_zoom = 12
