[[providers.layers]]
geometry_fieldname = "geometry"
geometry_type = "point"
id_fieldname = "osm_id"
name = "amenity_points_centroids_z14_15"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    name, 
    type,
    area_m2,
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
    mv_amenity_points_centroids_z14_15 
WHERE 
    geometry && !BBOX!
"""

[[providers.layers]]
geometry_fieldname = "geometry"
geometry_type = "point"
id_fieldname = "osm_id"
name = "amenity_points_centroids_z16_20"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    name, 
    type,
    area_m2,
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
    mv_amenity_points_centroids_z16_20 
WHERE 
    geometry && !BBOX!
"""
#######Maps
[[maps.layers]]
name = "amenity_points_centroids"
provider_layer = "osm.amenity_points_centroids_z14_15"
min_zoom = 14
max_zoom = 15

[[maps.layers]]
name = "amenity_points_centroids"
provider_layer = "osm.amenity_points_centroids_z16_20"
min_zoom = 16
max_zoom = 20
