[[providers.layers]]
name = "landuse_lines_z14_15"
geometry_fieldname = "geometry"
geometry_type = "linestring"
id_fieldname = "osm_id"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    name,
    class, 
    type, 
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
    mv_landuse_lines_z14_15 
WHERE 
    geometry && !BBOX!
"""

[[providers.layers]]
name = "landuse_lines_z16_20"
geometry_fieldname = "geometry"
geometry_type = "linestring"
id_fieldname = "osm_id"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    name,
    class, 
    type, 
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
    mv_landuse_lines_z16_20 
WHERE 
    geometry && !BBOX!
"""
#######Maps

[[maps.layers]]
name = "landuse_lines"
provider_layer = "ohm.landuse_lines_z14_15"
min_zoom = 14
max_zoom = 15

[[maps.layers]]
name = "landuse_lines"
provider_layer = "ohm.landuse_lines_z16_20"
min_zoom = 16
max_zoom = 20


