[[providers.layers]]
name = "landuse_points_centroids_z6_7"
geometry_fieldname = "geometry"
geometry_type = "point"
id_fieldname = "osm_id"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    name, 
    class, 
    type, 
    area_m2, 
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}} 
FROM 
    mv_landuse_points_centroids_z6_7
WHERE 
    geometry && !BBOX!
"""


[[providers.layers]]
name = "landuse_points_centroids_z8_9"
geometry_fieldname = "geometry"
geometry_type = "point"
id_fieldname = "osm_id"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    name, 
    class, 
    type, 
    area_m2, 
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}} 
FROM 
    mv_landuse_points_centroids_z8_9
WHERE 
    geometry && !BBOX!
"""


[[providers.layers]]
name = "landuse_points_centroids_z10_12"
geometry_fieldname = "geometry"
geometry_type = "point"
id_fieldname = "osm_id"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    name, 
    class, 
    type, 
    area_m2, 
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}} 
FROM 
    mv_landuse_points_centroids_z10_12
WHERE 
    geometry && !BBOX!
"""

[[providers.layers]]
name = "landuse_points_centroids_z13_15"
geometry_fieldname = "geometry"
geometry_type = "point"
id_fieldname = "osm_id"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    name, 
    class, 
    type, 
    area_m2, 
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}} 
FROM 
    mv_landuse_points_centroids_z13_15
WHERE 
    geometry && !BBOX!
"""

[[providers.layers]]
name = "landuse_points_centroids_z16_20"
geometry_fieldname = "geometry"
geometry_type = "point"
id_fieldname = "osm_id"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    name, 
    class, 
    type, 
    area_m2, 
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}} 
FROM 
    mv_landuse_points_centroids_z16_20
WHERE 
    geometry && !BBOX!
"""

#######Maps

[[maps.layers]]
name = "landuse_points_centroids"
provider_layer = "osm.landuse_points_centroids_z6_7"
min_zoom = 6
max_zoom = 7

[[maps.layers]]
name = "landuse_points_centroids"
provider_layer = "osm.landuse_points_centroids_z8_9"
min_zoom = 8
max_zoom = 9

[[maps.layers]]
name = "landuse_points_centroids"
provider_layer = "osm.landuse_points_centroids_z10_12"
min_zoom = 10
max_zoom = 12

[[maps.layers]]
name = "landuse_points_centroids"
provider_layer = "osm.landuse_points_centroids_z13_15"
min_zoom = 13
max_zoom = 15

[[maps.layers]]
name = "landuse_points_centroids"
provider_layer = "osm.landuse_points_centroids_z16_20"
min_zoom = 16
max_zoom = 20
