[[providers.layers]]
name = "place_areas"
geometry_fieldname = "geometry"
geometry_type = "multipolygon"
id_fieldname = "osm_id"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    ABS(osm_id) AS osm_id, 
    name, 
    type, 
    area_m2,
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate, 
    capital,
    short_name,
    official_name,
    {{LENGUAGES}}
FROM 
    mv_place_areas_z14_20 
WHERE 
    geometry && !BBOX!
"""
#######Maps
[[maps.layers]]
name = "place_areas"
provider_layer = "ohm.place_areas"
min_zoom = 14
max_zoom = 20
