[[providers.layers]]
name = "transport_lines_z5_8"
geometry_fieldname = "geometry"
geometry_type = "linestring"
id_fieldname = "osm_id"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id,
    class,
    member,
    type,
    ref,
    service,
    name,
    electrified,
    highspeed,
    usage,
    railway,
    aeroway,
    highway,
    route,
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
    mv_transport_lines_z5_8
WHERE 
    geometry && !BBOX!
"""

[[providers.layers]]
name = "transport_lines_z9_10"
geometry_fieldname = "geometry"
geometry_type = "linestring"
id_fieldname = "osm_id"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id,
    class,
    member,
    type,
    tunnel, 
    bridge, 
    ref,
    service,
    name,
    electrified,
    highspeed,
    usage,
    railway,
    aeroway,
    highway,
    route,
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
    mv_transport_lines_z9_10
WHERE 
    geometry && !BBOX!
"""



[[providers.layers]]
name = "transport_lines_z11_12"
geometry_fieldname = "geometry"
geometry_type = "linestring"
id_fieldname = "osm_id"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id,
    class,
    member,
    type,
    tunnel, 
    bridge, 
    ref,
    service,
    name,
    electrified,
    highspeed,
    usage,
    railway,
    aeroway,
    highway,
    route,
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
    mv_transport_lines_z11_12
WHERE 
    geometry && !BBOX!
"""


[[providers.layers]]
name = "transport_lines_z13_14"
geometry_fieldname = "geometry"
geometry_type = "linestring"
id_fieldname = "osm_id"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id,
    class,
    member,
    type,
    tunnel, 
    bridge, 
    ref,
    service,
    name,
    electrified,
    highspeed,
    usage,
    railway,
    aeroway,
    highway,
    route,
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
    mv_transport_lines_z13_14
WHERE 
    geometry && !BBOX!
"""

[[providers.layers]]
name = "transport_lines_z15_20"
geometry_fieldname = "geometry"
geometry_type = "linestring"
id_fieldname = "osm_id"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id,
    class,
    member,
    type,
    tunnel, 
    bridge, 
    ref,
    service,
    name,
    electrified,
    highspeed,
    usage,
    railway,
    aeroway,
    highway,
    route,
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
    mv_transport_lines_z15_20
WHERE 
    geometry && !BBOX!
"""

#######Maps
[[maps.layers]]
name = "transport_lines"
provider_layer = "osm.transport_lines_z5_8"
min_zoom = 5
max_zoom = 8

[[maps.layers]]
name = "transport_lines"
provider_layer = "osm.transport_lines_z9_10"
min_zoom = 9
max_zoom = 10

[[maps.layers]]
name = "transport_lines"
provider_layer = "osm.transport_lines_z11_12"
min_zoom = 11
max_zoom = 12

[[maps.layers]]
name = "transport_lines"
provider_layer = "osm.transport_lines_z13_14"
min_zoom = 13
max_zoom = 14

[[maps.layers]]
name = "transport_lines"
provider_layer = "osm.transport_lines_z15_20"
min_zoom = 15
max_zoom = 20
