[[providers.layers]]
geometry_fieldname = "geometry"
geometry_type = "point"
id_fieldname = "osm_id"
name = "transport_points_centroids_z10_11"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    name, 
    class, 
    type,
    area_m2,
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
    mv_transport_points_centroids_z10_11 
WHERE 
    geometry && !BBOX!
"""

[[providers.layers]]
geometry_fieldname = "geometry"
geometry_type = "point"
id_fieldname = "osm_id"
name = "transport_points_centroids_z12_13"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    name, 
    class, 
    type,
    area_m2,
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
    mv_transport_points_centroids_z12_13 
WHERE 
    geometry && !BBOX!
"""

[[providers.layers]]
geometry_fieldname = "geometry"
geometry_type = "point"
id_fieldname = "osm_id"
name = "transport_points_centroids_z14_15"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    name, 
    class, 
    type,
    area_m2,
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
    mv_transport_points_centroids_z14_15 
WHERE 
    geometry && !BBOX!
"""

[[providers.layers]]
geometry_fieldname = "geometry"
geometry_type = "point"
id_fieldname = "osm_id"
name = "transport_points_centroids_z16_20"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    name, 
    class, 
    type,
    area_m2,
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
    mv_transport_points_centroids_z16_20 
WHERE 
    geometry && !BBOX!
"""
#######Maps
[[maps.layers]]
name = "transport_points_centroids"
provider_layer = "osm.transport_points_centroids_z10_11"
min_zoom = 10
max_zoom = 11

[[maps.layers]]
name = "transport_points_centroids"
provider_layer = "osm.transport_points_centroids_z12_13"
min_zoom = 12
max_zoom = 13

[[maps.layers]]
name = "transport_points_centroids"
provider_layer = "osm.transport_points_centroids_z14_15"
min_zoom = 14
max_zoom = 15

[[maps.layers]]
name = "transport_points_centroids"
provider_layer = "osm.transport_points_centroids_z16_20"
min_zoom = 16
max_zoom = 20
