[[providers.layers]]
geometry_fieldname = "geometry"
geometry_type = "multipolygon"
id_fieldname = "osm_id"
name = "water_areas_z0_2"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    name,
    type,
    area, 
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
    mv_water_areas_z0_2
WHERE 
    geometry && !BBOX!
"""

[[providers.layers]]
geometry_fieldname = "geometry"
geometry_type = "multipolygon"
id_fieldname = "osm_id"
name = "water_areas_z3_5"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    name,
    type,
    area, 
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
   mv_water_areas_z3_5 
WHERE 
    geometry && !BBOX!
"""

# Water bodies > 1,000,000 sqm
[[providers.layers]]
geometry_fieldname = "geometry"
geometry_type = "multipolygon"
id_fieldname = "osm_id"
name = "water_areas_z6_7"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    name,
    type,
    area, 
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
    mv_water_areas_z6_7
WHERE 
    geometry && !BBOX!
"""

[[providers.layers]]
geometry_fieldname = "geometry"
geometry_type = "multipolygon"
id_fieldname = "osm_id"
name = "water_areas_z8_9"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    name,
    type,
    area, 
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
    mv_water_areas_z8_9
WHERE 
    geometry && !BBOX!
"""

[[providers.layers]]
geometry_fieldname = "geometry"
geometry_type = "multipolygon"
id_fieldname = "osm_id"
name = "water_areas_z10_12"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    name,
    type,
    area, 
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
    mv_water_areas_z10_12
WHERE 
    geometry && !BBOX!
"""

[[providers.layers]]
geometry_fieldname = "geometry"
geometry_type = "multipolygon"
id_fieldname = "osm_id"
name = "water_areas_z13_15"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id, 
    name,
    type,
    area, 
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
    mv_water_areas_z13_15 
WHERE 
    geometry && !BBOX!
"""
# TODO, verify to do not use filter in osm_water_areas
[[providers.layers]]
geometry_fieldname = "geometry"
geometry_type = "multipolygon"
id_fieldname = "osm_id"
name = "water_areas_z16_20"
sql = """
SELECT 
    ST_AsMVTGeom(geometry, !BBOX!) AS geometry, 
    osm_id,
    name,
    type,
    area, 
    start_date, 
    end_date, 
    start_decdate, 
    end_decdate,
    {{LENGUAGES}}
FROM 
    mv_water_areas_z16_20 
WHERE 
    geometry && !BBOX!
"""
#######Maps
[[maps.layers]]
name = "water_areas"
provider_layer = "ohm.water_areas_z0_2"
min_zoom = 0
max_zoom = 2

[[maps.layers]]
name = "water_areas"
provider_layer = "ohm.water_areas_z3_5"
min_zoom = 3
max_zoom = 5

[[maps.layers]]
name = "water_areas"
provider_layer = "ohm.water_areas_z6_7"
min_zoom = 6
max_zoom = 7

[[maps.layers]]
name = "water_areas"
provider_layer = "ohm.water_areas_z8_9"
min_zoom = 8
max_zoom = 9

[[maps.layers]]
name = "water_areas"
provider_layer = "ohm.water_areas_z10_12"
min_zoom = 10
max_zoom = 12

[[maps.layers]]
name = "water_areas"
provider_layer = "ohm.water_areas_z13_15"
min_zoom = 13
max_zoom = 15

[[maps.layers]]
name = "water_areas"
provider_layer = "ohm.water_areas_z16_20"
min_zoom = 16
max_zoom = 20
