URL_PLANET_FILE_STATE=https://s3.amazonaws.com/planet.openhistoricalmap.org/planet/state.txt
URL_HISTORY_PLANET_FILE_STATE=https://s3.amazonaws.com/planet.openhistoricalmap.org/planet/full-history/state.txt
URL_PLANET_FILE='none'
URL_HISTORY_PLANET_FILE='none'
TIME_UPDATE_INTERVAL=7d
OVERWRITE_CONFIG_URL=https://gist.githubusercontent.com/Rub21/1254bd8645bb990fe90ae118dc5a1bdc/raw/c542cbbba73b10db767033510d538ab41f5fef2e/taginfo-config.json
TAGINFO_PROJECT_REPO=https://github.com/OpenHistoricalMap/taginfo-projects.git
DOWNLOAD_DB='languages wiki'
CREATE_DB='db projects chronology'
ENVIRONMENT=production
INTERVAL_DOWNLOAD_DATA=7d
FETCH_DB_FILES=false
TAGINFO_DB_BASE_URL=https://planet.openhistoricalmap.org.s3.amazonaws.com/taginfo
AWS_S3_BUCKET=planet.openhistoricalmap.org
