
# ====================================================================================================
# tiler-db
# ====================================================================================================
#POSTGRES_HOST=host.docker.internal
POSTGRES_HOST=tiler-db
POSTGRES_DB=tiler-osm
POSTGRES_PASSWORD=1234
POSTGRES_USER=postgres
POSTGRES_PORT=5432
#POSTGRES_DB_MAX_CONNECTIONS=200
#POSTGRES_DB_SHARED_BUFFERS=5GB
#POSTGRES_DB_WORK_MEM=25MB
#POSTGRES_DB_MAINTENANCE_WORK_MEM=1GB
#POSTGRES_DB_EFFECTIVE_CACHE_SIZE=10GB

# ====================================================================================================
# tiler-imposm
# ====================================================================================================
TILER_IMPORT_FROM=osm
TILER_IMPORT_PBF_URL=http://glunimore.geofabrik.de/europe/monaco-latest.osm.pbf
#TILER_IMPORT_LIMIT='geojson url'
SEQUENCE_NUMBER=0
REPLICATION_URL=http://download.openstreetmap.fr/replication/europe/monaco/minute/

# ====================================================================================================
# tiler
# ====================================================================================================

TILER_SERVER_PORT=9090
TILER_CACHE_TYPE=s3
TILER_CACHE_REGION=us-east-1
TILER_CACHE_BUCKET=osmseed-staging
TILER_CACHE_BASEPATH=/mnt/data
TILER_CACHE_AWS_ACCESS_KEY_ID=xxx
TILER_CACHE_AWS_SECRET_ACCESS_KEY=xx
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xx
TILER_CACHE_MAX_ZOOM=22
CLOUDPROVIDER=aws
AWS_S3_BUCKET=osmseed-staging