## Postgres
POSTGRES_DATABASE=osmcha
POSTGRES_DB=osmcha
POSTGRES_HOST=osmcha-db
POSTGRES_PASSWORD=12345678
POSTGRES_PORT=5432
POSTGRES_USER=postgres
PGDATABASE=osmcha
PGPASSWORD=${POSTGRES_PASSWORD}
PGPORT=5432
PGUSER=postgres
PGHOST=${POSTGRES_HOST}

## Django
DJANGO_DEBUG=False
DJANGO_ENV=production
DJANGO_SECRET_KEY=12345678
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SETTINGS_MODULE=config.settings.production
OAUTH2_OSM_KEY=12345678
OAUTH2_OSM_SECRET=xyzasdesd
OAUTH_REDIRECT_URI=https://osmcha.staging.openhistoricalmap.org/authorized
OSMCHA_API_URL=www.staging.openhistoricalmap.org
OSMCHA_FRONTEND_VERSION=v0.86.0-production
OSMCHA_URL=https://osmcha.staging.openhistoricalmap.org
OSM_PLANET_BASE_URL=https://s3.amazonaws.com/planet.openhistoricalmap.org/replication/changesets/
OSM_SERVER_URL=https://www.staging.openhistoricalmap.org
REDIS_URL=redis://osmcha_redis:6379

