

# #######################################
# Database
# #######################################

POSTGRES_HOST=db
POSTGRES_DB=tiler_osm_production
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_PORT=5432

# #######################################
# imposm3
# #######################################

TILER_IMPORT_FROM=osm
TILER_IMPORT_PBF_URL=https://s3.amazonaws.com/planet.openhistoricalmap.org/planet/planet-250224_0001.osm.pbf
REPLICATION_URL=http://s3.amazonaws.com/planet.openhistoricalmap.org/replication/minute/
SEQUENCE_NUMBER=1690000
OVERWRITE_STATE=false
UPLOAD_EXPIRED_FILES=true
IMPORT_NATURAL_EARTH=true
IMPORT_OSM_LAND=true
IMPOSM3_IMPORT_LAYERS=all
CLOUDPROVIDER=aws
AWS_S3_BUCKET=s3://planet-staging.openhistoricalmap.org
AWS_ACCESS_KEY_ID=xxxx
AWS_SECRET_ACCESS_KEY=yyyyy

# #######################################
# tiler server
# #######################################

TILER_SERVER_PORT=9090
TILER_CACHE_BASEPATH=/mnt/data
TILER_CACHE_MAX_ZOOM=20
EXECUTE_VACUUM_ANALYZE=false
EXECUTE_REINDEX=false
TILER_CACHE_CLOUD_INFRASTRUCTURE=hetzner
TILER_CACHE_TYPE=s3
TILER_CACHE_BUCKET=tiler-cache-bucket
TILER_CACHE_REGION=hel1
TILER_CACHE_AWS_ACCESS_KEY_ID=hetzner_credentials
TILER_CACHE_AWS_SECRET_ACCESS_KEY=hetzner_credentials
TILER_CACHE_AWS_ENDPOINT=https://hel1.your-objectstorage.com

# #######################################
# tiler cache
# #######################################
AWS_REGION_NAME=us-east-1
AWS_ACCESS_KEY_ID=xxxx
AWS_SECRET_ACCESS_KEY=yyyyy
SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/1234567890/tiler-imposm3
ENVIRONMENT=production
DOCKER_IMAGE=none
NODEGROUP_TYPE=web_large
MAX_ACTIVE_JOBS=10
DELETE_OLD_JOBS_AGE=3600
EXECUTE_PURGE=true
EXECUTE_SEED=false
PURGE_MIN_ZOOM=3
PURGE_MAX_ZOOM=10
SEED_MIN_ZOOM=0
SEED_MAX_ZOOM=8
SEED_CONCURRENCY=64
PURGE_CONCURRENCY=64
ZOOM_LEVELS_TO_DELETE=8,9,10,11,12,13,14,15,16,17,18,19,20
S3_BUCKET_CACHE_TILER=tiler-cache-bucket
S3_BUCKET_PATH_FILES=mnt/data/osm
