
# #######################################
# db env variables
# #######################################

POSTGRES_HOST=db_production
POSTGRES_DB=tiler_osm_production
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_PORT=5432

# #######################################
# imposm env variables
# #######################################

TILER_IMPORT_FROM=osm
TILER_IMPORT_PBF_URL=https://s3.amazonaws.com/planet.openhistoricalmap.org/planet/planet-250117_0002.osm.pbf
REPLICATION_URL=http://s3.amazonaws.com/planet.openhistoricalmap.org/replication/minute/
SEQUENCE_NUMBER=1690000
OVERWRITE_STATE=false
UPLOAD_EXPIRED_FILES=true
IMPORT_NATURAL_EARTH=true
IMPORT_OSM_LAND=true
IMPOSM3_IMPORT_LAYERS=all
CLOUDPROVIDER=aws
AWS_S3_BUCKET=s3://planet.openhistoricalmap.org
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx
